.counter {
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.counter_header{
    text-align: center;
}
.counter_text {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
  }